body {
  background: #52d152;
}

.App {
  text-align: center;
  margin-top: 50px;
}

h1, p {
  color: #fff;
  font-family: monospace;
  text-transform: uppercase;
  font-size: 32px;
}

p {
  color: #fff;
}

button {
  background: rgb(25, 100, 25);
  color: #fff;
  margin-top: 30px;
  margin: 15px;
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  width: 130px;
  transition: box-shadow .15s ease-in-out;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 10px #FFC900;
  border-radius: 50px;
}

button:hover {
  box-shadow: 10px 15px 20px #76fd4d;
  color: #76fd4d;
}
